*{box-sizing: border-box;}

html{
    padding: 0px;
    margin: 0px;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Outfit', sans-serif;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container>* {margin: 1%;
    height:fit-content;
}

.ajanlat p{
    display: inline;
}

header{
    text-align: center;
}

header img{
    width: 100%;
}

nav{
    flex: 1 1 95%;
}

nav hr{
    width: 95%;
    margin-top: 0.2%;
    margin-bottom: 0.4%;
}

nav ul{
    list-style-type: none;
    margin-bottom: 0px;
    padding-inline-start: 0px;
}

nav li a {
    display: block;
    font-size: 20px;
    padding: 5px 10px;
    margin: 10px;
}

h1, h2, h3, h4, p, a{
    color: white;
}

.phelyett{
    color: white;
    display: inline;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

a{
    background-color: #5da0a2;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
}

#current a{
    border-width: 5px;
    border-color: white;
    border-style: double;
}

a:hover{
    background-color: #11898d;
}

.udv{
    text-align: center;
    flex-basis: 95%;
    height: 50vh;
    background-image: url(images/udvozles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.udv h1{
    margin-bottom: 30vh;
}

.udv a{
    font-size: 25px;
    padding: 10px;
    border: 2px solid white;
}

article{
    text-align: justify;
    background-color: #5da0a2;
    border-radius: 10px;
    padding: 13px;
    font-size: 1.2em;
}

article.kezdolap{
    flex: 1 1 100%;
}

.modul{
    display: block;
}

article.kezdolap{
    transition: 0.5s;
}

article.kezdolap ul li{
    color: white;
}

article.kezdolap h2{
    text-align: center;
}

.csapatunk h2{
    margin-bottom: 0px;
}

.csapatunk img{
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 10px;
}

.kitolt{
    flex-basis: 0%;
}

.ismerje{
    flex: 1 1 100%;
    background-color: white;
}

.ismerje h2{
    background-color: #5da0a2;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.galleria-container{
    margin: auto;
    max-width: 100%;
    height: auto;
    display: flex;
}

.kisbetus{
    font-size:small;
}

article.galleria{
    background-color: white;
}

.modul{
    background-color: white;
    text-align: center;
    padding: 3px;
    margin: 5px;
    border-radius: 10px;
    font-size: 1.2em;
}

label{
    color:#5da0a2;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: bold;
}

.modul p{
    color:#5da0a2;
    font-weight:bold;
    margin-bottom: 10px;
}

.ismerje input{
    font-size: large;
    background-color: #5da0a2;
    color: white;
    padding: 5px;
    margin: 10px;
}

article.kapcsolat{
    background-color: #5da0a2;
    color: white;
    flex-basis: 95%;
}

article.kapcsolat p{
    font-size: larger;
    margin: 7px 0px;

}

article.kapcsolat li{
    margin-bottom: 20px;
}

article.kapcsolat form{
    margin-top: 20px;
}

.kapcsolat input[type="submit"]{
    margin-top: 3vh;
}

textarea{
    width: 80%;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color: #5da0a2;
}

footer a{
    border: 2px solid white;
    border-radius: 10px;
    font-size: 25px;
    padding: 5px;
    margin-bottom: 5vh;
}

footer h2{
    flex-basis: 100%;
    margin-top: 0.8vh; 
}

footer p{
    flex-basis: 100%;
    margin-bottom: 1%;
    margin-top: 0%;
}

@media all and (min-width: 824px) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .udv{
        flex-basis: 70%;
    }

    .ismerje{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    article.kezdolap, .modul{
        flex-basis: 30%;
    }

    a:hover{
        transform: scale(1.07)
    }

    article.kezdolap:hover{
        transform: scale(1.07)
    }

    .modulok{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .modulok>* {margin: 1%;
        height:100px;
    }

    article.kapcsolat{
        flex-basis: 70%;
    }

    .modul{
        flex: 1 1 30%;
    }

}

@media all and (min-width: 976px) {
    nav hr{
        width: 70%;
    }
    textarea{
        width: 50%;
    }
    .kitolt{
        flex-basis: 12%;
    }
}